/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
  height: 100%; }

*, ::before, ::after {
  box-sizing: inherit; }

html, body, h1, h2, h3, h4, h5, ul, li, p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Playfair Display', serif; }

html {
  --darkslategray: #333333; }

.hide {
  display: none !important; }

.content-section {
  padding: 60px; }

#main[data-v-1727ae] {
  background-image: url("main-bg2.b2a90b1c.jpeg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
  box-shadow: inset 0px 0px 14px 3px rgba(0, 0, 0, 0.2);
}
.main-intro-container[data-v-1727ae] {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5em;
}
.main-title[data-v-1727ae] {
  color: white;
  font-size: 3em;
  opacity: 0.8;
  letter-spacing: 10px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}
.main-subtitle[data-v-1727ae] {
  color: white;
  margin-top: 1em;
  letter-spacing: 2px;
  font-weight: 400;
  opacity: 0.7;
  font-size: 0.8em;
}
.main-footer[data-v-1727ae] {
  position: absolute;
  color: white;
  left: 0;
  bottom: 0;
  padding-bottom: 1em;
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: table;
}
.left[data-v-1727ae], .middle[data-v-1727ae], .right[data-v-1727ae] {
  display: table-cell;
  text-align: center;
  width: 33.3333333%;
  vertical-align: middle;
}
.right[data-v-1727ae] {
  padding-right: 2em;
  text-align: right;
}
.left[data-v-1727ae] {
  padding-left: 2em;
  text-align: left;
}
.middle[data-v-1727ae] {
  opacity: 0.8;
}
.scroll-icon[data-v-1727ae] {
  display: inline-block;
  margin-top: 0.5em;
  -webkit-animation: 1.5s updown-data-v-1727ae 0s ease-in infinite;
          animation: 1.5s updown-data-v-1727ae 0s ease-in infinite;
}
.tech-title[data-v-1727ae] {
  opacity: 0.5;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.quote-title[data-v-1727ae] {
  font-size: 0.8em;
  opacity: 0.5;
  letter-spacing: 2px;
}
@-webkit-keyframes updown-data-v-1727ae {
0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
}
100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
}
@keyframes updown-data-v-1727ae {
0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
}
100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
}

#sidebar[data-v-938a57] {
  background-image: url("nav-bg.57edd254.jpg");
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1;
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;
}
#sidebar .left[data-v-938a57], #sidebar .right[data-v-938a57] {
    display: table-cell;
}
#sidebar .left[data-v-938a57] {
    width: 67%;
    height: 100%;
}
#sidebar .sidebar-quote[data-v-938a57] {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 2em;
    padding-bottom: 2em;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
}
#sidebar .quote-credit[data-v-938a57] {
    font-style: italic;
    font-size: 1em;
    margin-left: 1em;
    letter-spacing: 3px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}
#sidebar .right[data-v-938a57] {
    width: 33%;
    display: table;
    width: 100%;
    height: 100%;
}
#sidebar .sidebar-top-menu[data-v-938a57] {
    padding: 0em 2em;
    height: 60px;
    display: table;
    width: 100%;
    text-align: right;
}
#sidebar .close-icon[data-v-938a57] {
    font-size: 3.5em;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
#sidebar .sidebar-menu[data-v-938a57] {
    display: table-row;
    height: 100%;
}
#sidebar .sidebar-menu-list[data-v-938a57] {
    display: table-cell;
    vertical-align: middle;
}
#sidebar .sidebar-menu-listitem[data-v-938a57] {
    margin-bottom: 2em;
    font-weight: 400;
    font-size: 2em;
    opacity: 0.7;
    letter-spacing: 2px;
}

#Navbar[data-v-5f0d5a] {
  height: 60px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  color: white;
}
.left[data-v-5f0d5a], .right[data-v-5f0d5a] {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.left[data-v-5f0d5a] {
  padding-left: 2em;
}
.right[data-v-5f0d5a] {
  text-align: right;
  padding-right: 2em;
}
.menu-icon[data-v-5f0d5a] {
  font-size: 2em;
  opacity: 0.8;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2 ease-in;
  transition: -webkit-transform 0.2 ease-in;
  transition: transform 0.2 ease-in;
  transition: transform 0.2 ease-in, -webkit-transform 0.2 ease-in;
}
.menu-icon[data-v-5f0d5a]:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.social-media-link[data-v-5f0d5a] {
  color: white;
  opacity: 0.7;
}
.social-media-icons[data-v-5f0d5a] {
  margin-right: 1.2em;
  font-size: 1.1em;
  display: inline-block;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.social-media-link:hover .social-media-icons[data-v-5f0d5a] {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

#scrollbar[data-v-1e59f1] {
  position: fixed;
  top: 50%;
  right: 0;
  height: 200px;
  margin-top: -100px;
  padding-right: 2em;
  text-align: center;
}
.scroll-pos-icon[data-v-1e59f1]::before {
  display: inline-block;
  content: '';
  height: 6px;
  width: 6px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.3;
  margin-top: 0.7em;
}
.scroll-pos-icon[data-v-1e59f1] {
  cursor: pointer;
}
.scroll-pos-icon.active[data-v-1e59f1]::before {
  opacity: 1;
}

#amn[data-v-19300d] {
  height: 100%;
  background-color: #195662;
  background: -webkit-linear-gradient(#febc76, #195662);
  background: linear-gradient(#febc76, #195662);
  display: table;
  width: 100%;
}
.left[data-v-19300d], .right[data-v-19300d] {
  display: table-cell;
  width: 50%;
  max-width: 50%;
}
.left[data-v-19300d] {
  color: white;
  vertical-align: middle;
  text-align: center;
}
.project-title[data-v-19300d] {
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}
.project-subtitle[data-v-19300d] {
  font-weight: 400;
  margin-top: 0.8em;
  font-size: 1em;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
}
.project-link[data-v-19300d] {
  margin-top: 1em;
  border: 0;
  background-color: crimson;
  padding: 0.4em 0.6em;
  color: white;
  border-radius: 0.5em;
  font-weight: 700;
}
.right[data-v-19300d] {
  vertical-align: middle;
  text-align: center;
  opacity: 0.9;
}

#contactme[data-v-551ac2] {
  height: 100%;
  background-color: #195662;
  background: -webkit-linear-gradient(#e66465, #9198e5);
  background: linear-gradient(#e66465, #9198e5);
  display: table;
  width: 100%;
}

#entranceanimation[data-v-895332] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: table;
  background-color: black;
  text-align: center;
}
.tween[data-v-895332] {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 400;
  font-size: 1em;
}
.fadeout[data-v-895332] {
  -webkit-animation: fadeout-data-v-895332 2s linear 0s 1 forwards;
          animation: fadeout-data-v-895332 2s linear 0s 1 forwards;
}
@-webkit-keyframes fadeout-data-v-895332 {
0% {
    opacity: 1;
}
100% {
    z-index: -1;
    opacity: 0;
}
}
@keyframes fadeout-data-v-895332 {
0% {
    opacity: 1;
}
100% {
    z-index: -1;
    opacity: 0;
}
}

#app[data-v-957589], #page[data-v-957589], .touch-wrapper[data-v-957589] {
  height: 100%;
}
#page[data-v-957589] {
  margin-left: 75px;
}
.fade-enter-active[data-v-957589], .fade-leave-active[data-v-957589] {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.fade-enter[data-v-957589], .fade-leave-to[data-v-957589] {
  opacity: 0;
}
.component-fade-enter-active[data-v-957589], .component-fade-leave-active[data-v-957589] {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.component-fade-enter[data-v-957589], .component-fade-leave-to[data-v-957589] {
  opacity: 0;
}
