a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}[hidden]{display:none}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box;height:100%}*,:after,:before{box-sizing:inherit}body,h1,h2,h3,h4,h5,html,li,p,ul{margin:0;padding:0}ul{list-style-type:none}body{font-family:Playfair Display,serif;height:100%;overflow-x:hidden}html{--darkslategray:#333}.hide{display:none!important}.content-section{padding:60px}
#main[data-v-90fa3f]{background-image:url(main-bg2.73b3c38a.jpeg);background-position:50%;background-repeat:no-repeat;background-size:cover;box-shadow:inset 0 0 14px 3px rgba(0,0,0,.2);display:table;height:100%;width:100%
}
.main-intro-container[data-v-90fa3f]{display:table-cell;padding-left:5em;vertical-align:middle
}
.main-title[data-v-90fa3f]{color:#fff;font-size:3em;letter-spacing:10px;opacity:.8;text-shadow:2px 4px 3px rgba(0,0,0,.2)
}
.main-subtitle[data-v-90fa3f]{color:#fff;font-size:.8em;font-weight:400;letter-spacing:2px;margin-top:1em;opacity:.7
}
.main-footer[data-v-90fa3f]{background-color:rgba(0,0,0,0);bottom:0;color:#fff;display:table;height:60px;left:0;padding-bottom:1em;position:absolute;width:100%
}
.left[data-v-90fa3f],.middle[data-v-90fa3f],.right[data-v-90fa3f]{display:table-cell;text-align:center;vertical-align:middle;width:33.3333333%
}
.right[data-v-90fa3f]{padding-right:2em;text-align:right
}
.left[data-v-90fa3f]{padding-left:2em;text-align:left
}
.middle[data-v-90fa3f]{opacity:.8
}
.scroll-icon[data-v-90fa3f]{-webkit-animation:updown-data-v-90fa3f 1.5s ease-in 0s infinite;animation:updown-data-v-90fa3f 1.5s ease-in 0s infinite;cursor:pointer;display:inline-block;margin-top:.5em
}
.tech-title[data-v-90fa3f]{letter-spacing:1px
}
.quote-title[data-v-90fa3f],.tech-title[data-v-90fa3f]{font-size:.8em;opacity:.5
}
.quote-title[data-v-90fa3f]{letter-spacing:2px
}
@-webkit-keyframes updown-data-v-90fa3f{
0%{-webkit-transform:translateY(0);transform:translateY(0)
}
50%{-webkit-transform:translateY(20%);transform:translateY(20%)
}
to{-webkit-transform:translateY(0);transform:translateY(0)
}
}
@keyframes updown-data-v-90fa3f{
0%{-webkit-transform:translateY(0);transform:translateY(0)
}
50%{-webkit-transform:translateY(20%);transform:translateY(20%)
}
to{-webkit-transform:translateY(0);transform:translateY(0)
}
}
@media (max-width:600px){
.middle[data-v-90fa3f],.quote-title[data-v-90fa3f],.tech-title[data-v-90fa3f]{font-size:.6em;letter-spacing:.5px;opacity:.9
}
.left[data-v-90fa3f]{padding-left:1em
}
.right[data-v-90fa3f]{padding-right:1em
}
.main-footer[data-v-90fa3f]{padding-bottom:0
}
.main-intro-container[data-v-90fa3f]{padding-left:0;padding-top:15em;text-align:center
}
}
#sidebar[data-v-654b04]{background-color:#000;background-image:url(nav-bg.62b2b24a.jpg);background-position:0;background-repeat:no-repeat;background-size:50%;color:#fff;display:table;height:100%;left:0;position:fixed;top:0;width:100%;z-index:1
}
#sidebar .left[data-v-654b04],#sidebar .right[data-v-654b04]{display:table-cell
}
#sidebar .left[data-v-654b04]{height:100%;width:67%
}
#sidebar .sidebar-quote[data-v-654b04]{bottom:0;color:hsla(0,0%,100%,.5);font-size:.9em;letter-spacing:1px;padding-bottom:2em;padding-left:2em;position:absolute;width:100%
}
#sidebar .quote-credit[data-v-654b04]{color:hsla(0,0%,100%,.9);font-size:1em;font-style:italic;font-weight:700;letter-spacing:3px;margin-left:1em
}
#sidebar .right[data-v-654b04]{display:table;height:100%;width:33%;width:100%
}
#sidebar .sidebar-top-menu[data-v-654b04]{display:table;height:60px;padding:0 2em;text-align:right;width:100%
}
#sidebar .close-icon[data-v-654b04]{cursor:pointer;display:table-cell;font-size:3.5em;vertical-align:middle
}
#sidebar .sidebar-menu[data-v-654b04]{display:table-row;height:100%
}
#sidebar .sidebar-menu-list[data-v-654b04]{display:table-cell;vertical-align:middle
}
#sidebar .sidebar-menu-listitem[data-v-654b04]{font-size:2em;font-weight:400;letter-spacing:2px;margin-bottom:2em;opacity:.7
}
@media (max-width:600px){
#sidebar .sidebar-menu-list[data-v-654b04]{text-align:left
}
#sidebar .left[data-v-654b04]{width:50%
}
#sidebar .sidebar-menu-listitem[data-v-654b04]{font-size:1.5em
}
#sidebar .sidebar-quote[data-v-654b04]{color:hsla(0,0%,100%,.8);font-size:.7em
}
}
#Navbar[data-v-908e34]{background-color:rgba(0,0,0,0);color:#fff;display:table;height:60px;left:0;position:fixed;top:0;width:100%
}
.left[data-v-908e34],.right[data-v-908e34]{display:table-cell;vertical-align:middle;width:50%
}
.left[data-v-908e34]{padding-left:2em
}
.right[data-v-908e34]{padding-right:2em;text-align:right
}
.menu-icon[data-v-908e34]{-webkit-transition:-webkit-transform .2 ease-in;cursor:pointer;font-size:2em;opacity:.8;text-shadow:2px 4px 3px rgba(0,0,0,.2);transition:-webkit-transform .2 ease-in;transition:transform .2 ease-in;transition:transform .2 ease-in,-webkit-transform .2 ease-in
}
.menu-icon[data-v-908e34]:hover{-ms-transform:scale(1.5);-webkit-transform:scale(1.5);transform:scale(1.5)
}
.social-media-link[data-v-908e34]{color:#fff;opacity:.7
}
.social-media-icons[data-v-908e34]{-webkit-transition:-webkit-transform .2s ease-in;display:inline-block;font-size:1.1em;margin-right:1.2em;text-shadow:2px 4px 3px rgba(0,0,0,.1);transition:-webkit-transform .2s ease-in;transition:transform .2s ease-in;transition:transform .2s ease-in,-webkit-transform .2s ease-in
}
.social-media-link:hover .social-media-icons[data-v-908e34]{-ms-transform:scale(1.5);-webkit-transform:scale(1.5);transform:scale(1.5)
}
#scrollbar[data-v-72f210]{display:table;height:200px;margin-top:-100px;padding-right:2em;position:fixed;right:0;text-align:center;top:50%
}
.scrollbar-list[data-v-72f210]{display:table-cell;vertical-align:middle
}
.scroll-pos-icon[data-v-72f210]:before{background-color:#fff;border-radius:50%;content:"";display:inline-block;height:6px;margin-top:.7em;opacity:.3;width:6px
}
.scroll-pos-icon[data-v-72f210]{cursor:pointer
}
.scroll-pos-icon.active[data-v-72f210]:before{opacity:1
}
.scroll-bar-listitem[data-v-72f210]{padding:1px
}
@media (max-width:600px){
#scrollbar[data-v-72f210]{padding-right:2em
}
}
#amn[data-v-62a665]{background-image:url(main-bg-4.2d22cf07.jpg);background-position:50%;background-repeat:no-repeat;background-size:cover;display:table;height:100%;width:100%
}
.left[data-v-62a665],.right[data-v-62a665]{display:table-cell;max-width:50%;width:50%
}
.left[data-v-62a665]{color:#fff;text-align:center
}
.left[data-v-62a665],.right[data-v-62a665]{vertical-align:middle
}
.right[data-v-62a665]{text-align:left
}
.blockquote[data-v-62a665]{display:inline-block;letter-spacing:1.5px;line-height:1.5;padding:1em
}
.quote[data-v-62a665]{color:hsla(0,0%,100%,.8);font-size:1em;max-width:500px
}
.cite[data-v-62a665]{display:block;font-style:italic;letter-spacing:1px
}
@media (max-width:600px){
.quote[data-v-62a665]{font-size:.7em
}
.right[data-v-62a665]{display:none
}
.left[data-v-62a665]{padding-top:15em;width:100%
}
.blockquote[data-v-62a665]{max-width:auto
}
.content-section[data-v-62a665]{padding:40px
}
}
#contactme[data-v-480eba]{background-image:url(main-bg-5.d567f869.jpg);background-position:50%;background-repeat:no-repeat;background-size:cover;display:table;height:100%;width:100%
}
#entranceanimation[data-v-ba9bee]{background-color:#000;display:table;height:100%;left:0;position:absolute;text-align:center;top:0;width:100%;z-index:9999
}
.tween[data-v-ba9bee]{color:#fff;display:table-cell;font-size:1em;font-weight:400;vertical-align:middle
}
.fadeout[data-v-ba9bee]{-webkit-animation:fadeout-data-v-ba9bee 2s linear 0s 1 forwards;animation:fadeout-data-v-ba9bee 2s linear 0s 1 forwards
}
@-webkit-keyframes fadeout-data-v-ba9bee{
0%{opacity:1
}
to{opacity:0;z-index:-1
}
}
@keyframes fadeout-data-v-ba9bee{
0%{opacity:1
}
to{opacity:0;z-index:-1
}
}
#app[data-v-1e147c],#page[data-v-1e147c],.touch-wrapper[data-v-1e147c]{height:100%
}
#page[data-v-1e147c]{margin-left:75px
}
.fade-enter-active[data-v-1e147c],.fade-leave-active[data-v-1e147c]{-webkit-transition:opacity .5s;transition:opacity .5s
}
.fade-enter[data-v-1e147c],.fade-leave-to[data-v-1e147c]{opacity:0
}
.component-fade-enter-active[data-v-1e147c],.component-fade-leave-active[data-v-1e147c]{-webkit-transition:opacity .3s ease;transition:opacity .3s ease
}
.component-fade-enter[data-v-1e147c],.component-fade-leave-to[data-v-1e147c]{opacity:0
}